<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    div{margin:20px; border:5px #F00 solid; padding:20px; width:100px; height:100px;}

  </body>
</html>
